{% extends "app/base.html" %}

{% block title %}Synapse Tech | Catálogo{% endblock %}

{% block content %}
<section id="t-c">
    <h1> Produtos disponíveis</h1>

    <p> Nesta página serão exibidos os produtos cadastrados em nossa loja</p>
</section>
<section class="produtos-grid">
    {% for produto in produtos %}
    <article class="card">
        <h2>{{ produto.nome }}</h2>
        <p> {{produto.descricao}} </p>
        <p class="preco"> {{produto.preco|floatformat:2}} </p>
    </article>
    {% endfor %}
</section>
{% endblock %}