{% extends "app/base.html" %}

{% block title %}Synapse Tech | Sobre{% endblock %}

{% block content %}
<section id="t-c">
    <h1>Minha avaliação Python/Django</h1>
    <h2>página inicial da Synapse Tech</h2>
    <p>A Synapse Tech , instalada no coração do Rio de Janeiro, consolidou-se
        como parceira estratégica de médias e grandes empresas na
        construção de soluções web sob medida. Diante do crescimento
        contínuo por interfaces modernas, acessíveis e fáceis de manter, a
        Synapse Tech estruturou um desafio que evidencia a capacidade
        dos(as) desenvolvedores(as) em planejar, modelar e entregar software
        com organização, usabilidade e clareza de código.
        Nesta edição, todo o desenvolvimento deverá ser realizado sem o uso
        de ferramentas de Inteligência Artificial ou geradores automáticos de
        código. O foco é comprovar domínio dos fundamentos: criação de um
        projeto e um app Django, modelagem relacional com ORM
        (incluindo inserções reais via Admin ou shell), templates com herança e
        blocos, e renderização de listas com for no frontend. O produto final
        será um site institucional com cinco páginas responsivas e navegação
        coerente, refletindo boas práticas de arquitetura e
        preparação para evolução futura.
        Objetivo
        Construir um mini-portal institucional da Synapse Tech com Django,
        contendo navegação entre páginas, templates com blocos, listas
        renderizadas com for, e dados vindos do ORM.</p>
</section>
{% endblock %}